@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Roboto+Mono:ital,wght@1,200&display=swap');

:root {
    --mainfnt: #f5f5e6;
    --mainsrc: #0f1e19;

    /* Color Pallettes */
    --monoc1: #366B59;
    --monoc2: #2D3834;
    --monoc4: #566B64;
    --monoc5: #5CB899;

    --triad1: #2B6B56;
    --triad2: #1C121F;
    --triad4: #1F190C;
    --traid5: #6B5B30;

    --comp1: #2B6B56;
    --comp2: #406B5D;
    --comp4: #6B2F20;
    --comp5: #1F120F;

    --spltcmp1: #6B404E;
    --spltcmp2: #1F1115;
    --spltcmp2-inlay: #2e1c21;
    --spltcmp4: #6B4A2B;
    --spltcmp5: #1F160E;

    --shade1: #55AB8E;
    --shade2: #366B59;
    --shade4: #1A332A;

    /* Other Pallette Ideas  */
    --mainpal: #9edeaa;
    --alog1: #9edeca;
    --alog2: #b2de9e;
    --triad: #deaa9e;
    --greenspace: #c6ddca;
    --brightspace: rgba(245, 245, 230, 1);

    --borderbright: #e2fae6;
    --borderdark: #99b39e;
}

/*  =========================  
            RESET
    ========================= */

html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
  
/* Source: Meyer Reset */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

/*  =========================  
            ELEMENTS
    ========================= */

body {
  background-color: var(--greenspace);
  color: var(--spltcmp2);
  font-family: 'Baloo 2', cursive;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

a.nostyle:link {
    text-decoration: inherit;
    color: var(--greenspace);
    /* cursor: auto; */
}

a.nostyle:visited {
    text-decoration: inherit;
    color: var(--greenspace);
    /* cursor: auto; */
}

/*  =========================  
            CLASSES
    ========================= */

/* ==== Image ==== */

.idealIMG {
	display: block;
	max-height:75vh;
	width: auto;
	/* height: auto; */
}

.idealIMGsmol {
	display: block;
	max-height:25vh;
	width: auto;
	height: auto;
}