---
import Layout from '../layouts/layout.astro';
---

<Layout>
	<section class="AboutMe">
		<!-- <div class="AboutText">
			<p>Currently I am working on getting a coding certificate from the UT Coding Bootcamp Summer/Winter 2022.</p>
			<br>
			<p>Everything will be done December 6th - wish me luck!</p>
		</div>
		<div class="AboutPic">
			<img class="idealIMG"
				src="/hiking.jpg" 
				alt="A good pic of Matt while hiking"
			> 
		</div> -->

		<div>
			<p class="AboutText">
			Currently I am working on getting a coding certificate from the UT Coding Bootcamp Summer/Winter 2022.
			</p>
			<p class="AboutText">
				Everything will be done December 6th - wish me luck!
			</p>
		</div>
		<div>
			<div class="AboutPic">
				
			</div>
		</div>
	</section>
</Layout>

