---
import Layout from '../layouts/layout.astro';
---

<Layout>
	<section>
        <p>Here you go love</p>
        <img src='/slack_pika.png' alt="Not work? Let Matt know"  height="auto" id="PikaPic"> 
	</section>
</Layout>

<style>

</style>