---
import Layout from '../layouts/layout.astro';
import Project from '../components/projectCard.astro';
import ProjData from '../../public/projTest.json';
---

<Layout>
	<section class="ProjectDisplay">
        <Project projectData={ProjData}/>
	</section>
</Layout>

<style>
    
    .ProjectDisplay {
        margin-top: 1rem;
		min-height: 80vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
        flex-wrap: wrap;
	}

</style>