<nav class="navStyling" id="mainNavBar">
  <a class="nostyle navButtons" href="/">Home</a>
  <a class="nostyle navButtons" href="/projects">Projects</a>
  <a class="nostyle navButtons" href="/contact">Contact Me</a>
  <a class="navFill"></a>
</nav>