<nav class="navbar navStyling" id="mainNavBar">
    <a class="navbar-brand popOut" href="/about">Tech Blog</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nostyle mx-3" href="/">Home</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link nostyle mx-3" href="/dashboard">Dashboard</a>
      </li>
    </ul>
  </nav>