<nav class="navStyling" id="mainNavBar">
  <a class="nostyle" href="/">Home</a>
  <a class="nostyle" href="/projects">Projects</a>
  <a class="nostyle" href="/resume">Résumé</a>
  <a class="nostyle" href="/extra">Extra</a>
  <a></a>
</nav>