<nav class="navStyling" id="mainNavBar">
    <a class="nostyle" href="/">Home</a>
    <a class="nostyle" href="/projects">Projects</a>
    <a class="nostyle" href="/resume">Resumé</a>
    <!-- <a class="nostyle" href="/extra">Extra</a> -->
    <a>
        <div id='logo'>
            <img class='idealIMG' src='/mylogo.png'/>
        </div>
    </a>
</nav>

<style>
    .navStyling {
        display: flex;
        flex-direction: row;
        min-height: 4rem;
        color: var(--greenspace);
    }
    
    .navStyling a {
        background-color: var(--spltcmp2);
        border: groove;
        border-color: var(--spltcmp2);
    
        margin: .1rem 0 0 .1rem;
        min-width: 5rem;
    }
    
    .navStyling a:not(:last-child) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem 0 1rem;
        clip-path: polygon(100% 0, 100% 100%, 35% 100%, 0 75%, 0 0);
        font-size: large;
        transition: color 1s ease;
    }
    
    .navStyling a:hover {
        color: var(--triad);
    }
    
    .navStyling a:last-child {
        flex: 1;
        z-index: 99;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .idealIMG {
        display: block;
        max-height: 3rem;
        width: auto;
    }

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--spltcmp2-inlay);
        max-height: 3rem;
        margin: 0 1rem 0 0;
    }

    @media (max-width: 700px) { 
        .navStyling a {
            font-size: inherit;
            min-width: 3rem;
        }

        #logo {
            display: none;
        }
    }
    
    @media (max-width: 300px) { 
        .navStyling a {
            font-size: .5rem;
            min-width: 2rem;
        }
    }
</style>