<nav class="navStyling" id="mainNavBar">
  <a class="" href="/about">Tech Blog</a>
  <ul class="">
    <li class="">
      <a class="" href="/">Home</a>
    </li> 
    <li class="">
      <a class="" href="/dashboard">Dashboard</a>
    </li>
  </ul>
</nav>