<nav class="navStyling" id="mainNavBar">
    <a class="nostyle" href="/">Home</a>
    <a class="nostyle" href="/projects">Projects</a>
    <a class="nostyle" href="/resume">Résumé</a>
    <a class="nostyle" href="/extra">Extra</a>
    <a></a>
</nav>

<style>
    .navStyling {
        display: flex;
        flex-direction: row;
        min-height: 4rem;
        color: var(--greenspace);
    }
    
    .navStyling a {
        background-color: var(--spltcmp2);
        border: groove;
        border-color: var(--spltcmp2);
    
        margin: .1rem 0 0 .1rem;
        min-width: 8vw;
    }
    
    .navStyling a:not(:last-child) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem 0 1rem;
        clip-path: polygon(100% 0, 100% 100%, 35% 100%, 0 75%, 0 0);
        font-size: large;
        transition: color 1s ease;
    }
    
    .navStyling a:hover {
        color: var(--triad);
    }
    
    .navStyling a:last-child {
        flex: 1;
    }

    @media (max-width: 700px) { 
        .navStyling a {
            font-size: inherit;
        }
    }
</style>