---
export interface Props {
	projectData: Array<{ title: string, link: string, emoji: string, direc: string }>;
}

const { projectData = [] } = Astro.props as Props;
---
{projectData.map(
	project => (
		<a href={project.link} target="_blank" class='ProjectBox nostyle'>
			<div class='endpiece topper'>
				{project.title}
			</div>
			<span class='middle'>
				{project.emoji}
			</span>
			<div class='endpiece bottom'>
				{project.direc}&nbsp&nbsp
			</div>
		</a>
	)
)}

<style>
    .ProjectBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1rem;
		transition: box-shadow .5s, background-color .5s;
	}

	.ProjectBox:hover {
		background-color: var(--brightspace);
		box-shadow: 0px 0px 1rem 1rem var(--brightspace);
	}

	.ProjectBox * {
		background-color: var(--spltcmp2);
		border: groove;
		border-color: var(--spltcmp2);
		width: 175px;
	}

	.middle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 7rem;
		font-size: 3rem;
	}

	.endpiece {
		color: var(--triad);
		font-size: .875rem;
		font-family: 'Roboto Mono', monospace;
		min-height: 1rem;
		font-weight: 100;
		
		text-indent: .75rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.topper {
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 5% 0);
		justify-content: flex-start;
	}

	.bottom {
		clip-path: polygon(100% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
		justify-content: flex-end;
	}

	@media (max-width: 500px) {
		.ProjectBox * {
			width: 75vw;
		}

		.middle {
			font-size: 4rem;
		}

		.endpiece {
			min-height: 1.75rem;
		}
	}
</style>