---
import NavBar from '../components/navbar.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="generator" content={Astro.generator} />
        <meta name="keywords" content="Matt Lawhorn, Portfolio, Blog, Web Dev, Full Stack">
        
        <meta name="author" content="Matty Lawhorn">
        <meta name="application-name" content="Matt's Portfolio">
        <meta name="description" content="This is a portfolio showcasing all of my skills and projects of full stack web dev Matt Lawhorn.">

        <!-- Styling -->
        <title>Matt's Portfolio</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    </head>

    <body>
        <NavBar />
        <slot />
    </body>
  
</html>
